.home {
  section {
    width: 100%;
    padding: 30px 0;

    header {
      position: relative;
      text-align: center;
      margin-bottom: 15px;

      h2 {
        font-size: 3.6rem;
        color: rgba(255,255,255,0.3);
        text-transform: uppercase;
        font-family: $large-sans-header;
      }

      h3 {
        color: $white;
        font-size: 1.2rem;
        position: absolute;
        top: 40%;
        left: 30%;
      }

      h2,
      h3 {
        margin: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    section {
      header {
        h2 {
          font-size: 4.6rem;
        }

        h3 {
          font-size: 1.6rem;
          top: 35%;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    section {
      padding: 50px 0;

      header {
        h2 {
          font-size: 5.8rem;
        }

        h3 {
          font-size: 2.2rem;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    section {
      //padding: 60px 0;

      h4 {
        font-size: 1.8rem;
      }

      header {
        h2 {
          font-size: 8rem;
        }

        h3 {
          font-size: 2.5rem;
          top: 40%;
          left: 34%;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    section {
    //  padding: 70px 0;

      h4 {
        font-size: 2rem;
      }

      header {
        h2 {
          font-size: 10rem;
        }

        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.home section.intro {
  h1,
  h2 {
    font-family: $large-serif-header;
    font-weight: normal;
    text-transform: inherit;
    text-align: center;
    color: #464646;
  }
  @include media-breakpoint-up(md) {
    h1,
    h2 {
      text-align: left;
    }
  }
  @include media-breakpoint-up(lg) {
    min-height: 350px;
    padding: 60px 40px 80px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 450px;
    padding: 60px 80px 80px;

    h1 {
      font-size: $font-size-h1 * 2.1;
    }

    h2 {
      font-size: $font-size-h2 * 1.3;
    }
  }
}

.skills {
  @extend %deep-green-gradient;
  padding: 50px 0 !important;
  @include media-breakpoint-up(lg) {
    padding: 60px 0 !important;
  }
  @include media-breakpoint-up(xl) {
    padding: 70px 0 !important;
  }
}

.portfolio {
  @extend %angle-bg;
}

.portfolio,
.portfolio::after,
.portfolio::before {
  @extend %lime-gradient;
}

.about {
  @extend %angle-top;

}

section:last-child {
  padding-bottom: 100px !important;
}

.about,
.about::before {
  background-color: $light-blgr;
  background-image: url("../images/white-dot.svg");
  background-repeat: repeat;
  background-size: 3px 3px;
}

.about,
.portfolio,
.skills {
  h4,
  h5,
  h6,
  li,
  p,
  ul {
    color: $white;
  }
}
