img {
  max-width: 100%;
}

.profile-pic {
  text-align: center;

  img {
    max-width: 60%;
  }
  @include media-breakpoint-up(md) {
    float: right;

    img {
      max-width: 150px;
    }
  }
}
