.skill {
  //min-height: 400px;
  @include media-breakpoint-up(sm) {
    min-height: 280px;
  }
  @include media-breakpoint-up(md) {
    min-height: 340px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 280px;
  }
}

#skill-selector {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: inline-block;
  background-color: rgba(0,0,0,.3);
  margin: 0;
  padding: 5px 0;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;

  li {
    float: left;
    text-transform: uppercase;
    flex: 0 1 16%;

    a {
      padding: 5px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1px 4px;
      padding: 0;
      color: #fff;
      cursor: pointer;
      height: 35px;
      border-radius: 17px;
      background: transparent;
      transition: all 0.5s cubic-bezier(.19,1,.22,1) 0s;
      font-weight: normal;
      text-decoration: none;

      &:focus,
      &:hover {
        background: $white;
        color: $deep-green;
        text-decoration: none;
      }
    }

    &#active {
      a {
        background: $white;
        color: $deep-green;
        text-decoration: none;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    li {
    //  flex: 0 1 14.2%;
    }
  }
}
