body {
  font-family: $small-font;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    font-family: $large-body;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $small-header;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    font-family: $large-header;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

ol,
p,
ul {
  color: $dark-blgr;
  line-height: 1.65;
  font-size: $font-size-base;
  margin-bottom: 1.3em;
  @include media-breakpoint-up(lg) {
    color: $nintey-grey;
    font-size: $font-size-base * 1.1;
    line-height: 1.75;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.extension {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $extension;
  }
}

.msea {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $msea;
  }
}

.vhb {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $vhb;
  }
}

.quarrix {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: quarrix;
  }
}


$totalWords: 3;
.words {
  display: inline;
  text-indent: 20px;

  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #3A539B;
    @include animation(rotateWord, $totalWords * 3 + s, ease-in-out, infinite, 0s);
  }
}


@mixin animation($name, $time, $easing, $iteration-count, $start-delay) {
  -webkit-animation: $name $time $easing $iteration-count $start-delay;
  -ms-animation: $name $time $easing $iteration-count $start-delay;
  animation: $name $time $easing $iteration-count $start-delay;
}
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
  -ms-animation-delay: $time;
  animation-delay: $time;
}
@for $i from 2 through $totalWords {
  .words span:nth-child(#{$i}) {
    @include animation-delay(3 * ($i - 1) + s);
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
