body {
  font-family: $small-font;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    font-family: $large-body;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $small-header;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    font-family: $large-header;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}



ol,
p,
ul {
  color: $dark-blgr;
  line-height: 1.65;
  font-size: $font-size-base;
  margin-bottom: 1.3em;
  @include media-breakpoint-up(lg) {
    color: $nintey-grey;
    font-size: $font-size-base * 1.1;
    line-height: 1.75;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}


.extension {
  h1, h2, h3, h4, h5, h6 {
    color: $extension;
  }
}
.msea {
  h1, h2, h3, h4, h5, h6 {
    color: $msea;
  }
}
.vhb {
  h1, h2, h3, h4, h5, h6 {
    color: $vhb;
  }
}
.quarrix {
  h1, h2, h3, h4, h5, h6 {
    color: quarrix;
  }
}
