body {
  font-family: $large-body;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings;
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
}

h1 {
  text-transform: uppercase;
  font-size: $font-size-h1;
  margin: 0;
  @include media-breakpoint-up(xl) {
    font-size: $font-size-h1 * 1.1;
  }
}

h2 {
  font-size: $font-size-h2;
  @include media-breakpoint-up(xl) {
    font-size: $font-size-h2 * 1.1;
  }
}

h2, h3, h4 {
  font-family: $large-serif-header;
  font-weight: normal;
}
h3 {
  font-size: $font-size-h3;
  @include media-breakpoint-up(xl) {
    font-size: $font-size-h3 * 1.1;
  }
}
h4 {
  font-size: $font-size-h4;
  @include media-breakpoint-up(xl) {
    font-size: $font-size-h4 * 1.1;
  }
}

ol,
p,
ul {
  color: $nintey-grey;
  line-height: 1.65;
  font-size: $font-size-base;
  margin-bottom: 1.3em;
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 1.1;
    line-height: 1.75;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.extension {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $extension;
  }
}

.msea {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $msea;
  }
}

.vhb {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $vhb;
  }
}

.quarrix {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $quarrix;
  }
}

@include media-breakpoint-up(md) {
  $totalWords: 3;
  @mixin animation($name, $time, $easing, $iteration-count, $start-delay) {
    -webkit-animation: $name $time $easing $iteration-count $start-delay;
    -ms-animation: $name $time $easing $iteration-count $start-delay;
    animation: $name $time $easing $iteration-count $start-delay;
  }
  @mixin animation-delay($time) {
    -webkit-animation-delay: $time;
    -ms-animation-delay: $time;
    animation-delay: $time;
  }

  .words {
    display: inline;
    text-indent: 10px;

    span {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      color: $deep-green;
      @include animation(rotateWord, $totalWords * 3 + s, ease-in-out, infinite, 0s);
      &:nth-child(2){
        color: $lime;
      }
      &:nth-child(3){
        color: $teal;
      }
    }
  }
  @for $i from 2 through $totalWords {
    .words span:nth-child(#{$i}) {
      @include animation-delay(3 * ($i - 1) + s);
    }
  }
  @-moz-keyframes rotateWord {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 0;
      -moz-transform: translateY(-50px);
    }

    10% {
      opacity: 1;
      -moz-transform: translateY(0px);
    }

    25% {
      opacity: 1;
      -moz-transform: translateY(0px);
    }

    30% {
      opacity: 0;
      -moz-transform: translateY(50px);
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
    }

    10% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }

    25% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }

    30% {
      opacity: 0;
      -webkit-transform: translateY(50px);
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes rotateWord {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 0;
      -ms-transform: translateY(-50px);
    }

    10% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }

    25% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }

    30% {
      opacity: 0;
      -ms-transform: translateY(50px);
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}
